{% extends 'base.html' %}
{% load static %}
{% block title %}Просмотр фото{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <div class="text-center">
        <h1> Мое фото</h1>
        <div class="row">
            <div class="col col-12 col-sm-10 col-md-8 col-lg-6 m-auto">
                <img src="{{ image.photo.url }}" class="card-img-top" alt="{{ image.note }}">
        <p class="card-text font-weight-bold">{{ image.note }}</p>
        <p>Автор фото: <b>{{image.author}}</b></p>
        <p>Количество лайков: <b>{{image.like}}</b></p>
        <p><b>Дата создания: </b>{{ image.create| date:'d.m.Y H:i:s'}}</p>
                {% if perms.webapp.change_image %}
                        <a href="{% url 'webapp:image_edit' image.pk %}" class="btn btn-primary">Редактировать</a>
                    {% endif %}
                {% if perms.webapp.delete_image %}
                        <a href="{% url 'webapp:image_delete' image.pk %}" class="btn btn-primary">Удалить</a>
                    {% endif %}
                <hr>
                <h3><b>Комментарии к фотографии:</b></h3>
    <div class="comment-list">
        {% for comment in image.comments.all %}
            <div class="comment">
            <div class="pre text-danger">{{ comment.text }}</div>
                <p class="mt-4">Комментарий от: {{ comment.author_comment }} ( {{ comment.create_comment|date:'d.m.Y H:i:s' }} )</p>
                <hr>

{#            {% if image.author_comment == request.user %}#}
                <p class="comment-links">
{#                    <a href="{% url 'webapp:comment_update' comment.pk %}">Edit</a>#}
{#                    <a href="{% url 'webapp:comment_delete' comment.pk %}">Delete</a>#}
                </p>
{#            {% endif %}#}
            </div>
        {% empty %}
            <p>Комментариев еще нет.</p>
        {% endfor %}
{#    </div>#}
{#    <div class="comment-list">#}
{#        {% for comment in comments %}#}
{#            <div class="comment">#}
{#                <p><a href="{% url 'accounts:user_detail' review.author.pk %}"> <b>{{ forloop.counter }}. {{ review.author.username }}</b></a></p>#}
{#                <p><b>Email: </b>{{ review.author.email }}</p>#}
{#                <div class="pre"><b>Отзыв: </b> {{ review.text }}</div>#}
{#                <div><b>Оценка:</b> {{ review.rating }} из возможных 5</div>#}
{##}
{#             {% if review.author == request.user%}#}
{#                <p class="review-links">#}
{#                    {% if perms.webapp.change_review %}#}
{#                        <a href="{% url 'webapp:review_update' review.pk %}" class="btn btn-primary">Редактировать</a>#}
{#                    {% endif %}#}
{#                    {% if perms.webapp.delete_review %}#}
{#                        <a href="{% url 'webapp:review_delete' review.pk %}" class="btn btn-primary">Удалить</a>#}
{#                    {% endif %}#}
{#                </p>#}
{#            {% endif %}#}
            <hr>

{#            </div>#}
            </div>
{#        {% empty %}#}
{#            <p>Нет еще отзывов.</p>#}
{#        {% endfor %}#}
    </div>

{#        {% if request.user.is_authenticated %}#}
{#            <p><a href="{% url "webapp:review_create" services.pk %}" class="btn btn-primary">Добавить отзыв</a></p>#}
{#    {% endif %}#}
    </div>
{% endblock %}
