{% extends 'base.html' %}

{% block content %}
    <h1>Галерея</h1>
    <hr/>
    {%  for image in images_list %}
 <div class="card text-center m-5" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Мои фото!</h5>
        <img src="{{ image.photo.url }}" class="card-img-top" alt="{{ image.note }}">
        <p class="card-text font-weight-bold">{{ image.note }}</p>
        <p>Автор фото: <b>{{image.author}}</b></p>
{#        <p>Количество лайков: <b>{{image.like}}</b></p>#}
        <p><b>Дата создания: </b>{{ image.create| date:'d.m.Y H:i:s'}}</p>
      <p>Количество лайков: <span id="likes-display-{{ image.pk }}">{{image.like}}</span></p>
            {%  if requset.user.is_authenticated %}
            <p><a href=""><i class="like-btn fa fa-thumbs-up ml-3 display-4" id="like-btn-{{ image.pk }}" data-id="{{ image.pk }}"></i></a>
                <a href=""><i class="dislike-btn fa fa-thumbs-down ml-5 display-4" id="dislike-btn-{{ image.pk }}" data-id="{{ image.pk }}"></i></a></p>
            {% endif %}
      <a href="{% url 'webapp:image_detail' image.pk %}" class="btn btn-outline-dark ml-3">Подробнее</a>
  </div>
</div>
    {% endfor %}

{% endblock %}
